/* ----------code for all parts----------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#inter-custom {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* ---------------------------------------------------------------- */

/* shared classes */
.button-hover-effect:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

#banner .button-hover-effect-see:hover {
    font-weight: 600;
    border: 2px solid green
    
}

.links-hover-effect:hover {
    transform: scale(1.1);
    transition: 0.3s;
    color: green
}

/* -----------------header section----------------- */
nav {
    /* height: 92px; */
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    padding-top: 16px;
    padding-bottom: 16px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}

nav ul a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.nav-button {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
/*-------------------------------------------------------------*/
#banner {
    /* border: 1px solid red; */
    background: url("images/hero-bg.png");
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover; 
    min-height: 674px;
    width: 100%;
    /* background-position: center; */
}

#banner .banner-content {
    /* width: 1360px; */
    min-height: 379px;
    padding: 120px 120px 134px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content .early-access-button {
    background-color: white;
    border: none;
    padding: 8px 12px;
    color: #30B868;
    border-radius: 100px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 16px;
    display: flex;
}
#banner .banner-content .early-access-button img {
    padding-right: 5px;
}

#banner .banner-content h1{
    font-size: 72px;
}

#banner .color-white {
    color: white;
}

#banner .color-green {
    color: #30B868;
}

#banner .banner-content p {
    color: white;
    text-align: center;
    font-size: 18px; 
    padding-top: 16px;
}

#banner .start-building-button {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 36px;
}

#banner .how-it-works-button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12.5px 16px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 36px;
}

.banner-buttons {
    display: flex;
    gap: 24px;
}
/* ------------------------------------------------ */


#body-section-1{
    margin-top: 50px;   
}
#body-section-1 .body1-container{
    max-width: 100%;
    padding: 0 120px;
}

#body-section-1 .notes-don-fail {
    text-align: center;
    margin-bottom: 46px;
}
#body-section-1 .notes-don-fail h1 {
    font-size: 48px;
    padding-bottom: 16px;
}
#body-section-1 .notes-don-fail p {
    opacity: 50%;
}

#body-section-1 .cards {
    display: flex;
    gap: 24px;
    text-align: center; 
}

#body-section-1 .card-info {
    padding: 60px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    max-width: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body-section-1 .card-info h4{
    padding: 16px 0px;
} 
#body-section-1 .card-info .last-card {
    padding: 16px 60px;
}
#body-section-1 .card-info p {
    opacity: 50%;
}
#body-section-1 .icon {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 131px;
}
/* ------------------------------------------------ */

#body-section-2 {
    margin: 120px;
    display: flex;
    align-items: center;
    gap: 60px;
}

#body-section-2 .text-without-checkmark{
    padding-bottom: 32px;
}

#body-section-2 #the-sol {
    color: #30B868;
    font-weight: 500;
    opacity: 80%;
}
#body-section-2 #your-second-brain {
    font-size: 48;
    font-weight: 700;
    padding: 16px 0px;
}
#body-section-2 .text-without-checkmark p{
    opacity: 50%;
}

#body-section-2 .checkmark div{
    display: flex;
    gap: 10px;
    padding-bottom: 16px;
}
/* ------------------------------------------- */

#body-section-3 {
    margin: 0px 120px 120px 120px;
}

#body-section-3 #text-area {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F1ED;
}

#body-section-3 h1{
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
}
#body-section-3 .after-ready-to{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}
#body-section-3 .after-ready-to p{
    opacity: 50%;
}

#body-section-3 .button-sec-3 {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

#body-section-3 .last-text {
    opacity: 50%;
    padding-top: 16px;
}
/* ------------------------------------------- */

#footer {
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}

#footer .footer-logo-line {
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#footer .social-links {
    display: flex;
    flex-direction: column;
}
#footer .social-links p {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;
    opacity: 80%;
}
#footer .footer-logo-line img {
    padding-right: 10px;
}

#footer .copy-right {
    padding-top: 30px;
    color: white;
    opacity: 0.6;
    text-align: center; 
}
/* ---------------------------------------- */