* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    width: 1600px;
    background-color: lightsalmon;
}

.inter-custom {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
    /* width: 1600px; */
    /*height: 92px; */
    /* background: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: bottom; */

    
    
}

nav {
    height: 92px;
    padding: 0px 120px;
    display: flex;
    justify-content: space-between;
    
}

.logo img{
    /* width: 139px;
    height: 60px; */
    padding-top: 16px;
    padding-bottom: 16px;
    /* padding-left: 120px; */
}

nav ul {
    width: 365px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 34px 0px;
    list-style-type: none;
    
}

nav ul a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}


.button {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 24px 0px;

}

/*-------------------------------------------------------------*/
#banner {
    border: 1px solid red;
    background: url("images/hero-bg.png");
    vertical-align: middle
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
    /* background: aqua; */
    min-height: 674px;
    width: 1600px;
    /* background-position: center; */
    align-items: center;
}

.banner-content {
    width: 1360px;
    min-height: 379px;
    margin: 0px 120px;
    padding: 179.5px 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#banner .banner-content .early-access-button {
    background-color: white;
    border: none;
    padding: 8px 12px;
    color: #30B868;
    border-radius: 100px;
    font-size: 14px;
    /* font-weight: bold; */
    cursor: pointer;
    margin: 16px 5px;
    /* width: 229px;
    height: 36px; */
    
}

#banner .banner-content h1 .color-white {
    padding: 16px 0px;
}

#banner .color-white {
    color: white;
}

#banner .color-green {
    color: #30B868;
}

#banner .banner-content p {
    color: white;
    text-align: center;
    font-size: 18px; 
    font-weight: 400;
    padding: 0px 295px;
    margin: 16px 100px 25px 100px; 

}

#banner .banner-content .how-it-works-button {
    background-color: transparent;
    border: 1px solid white;
    padding: 12.5px 16px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 24px 0px;
}
/* ------------------------------------------------ */

#body-section-1 {
    margin: 0px 120px;
}

#body-section-1 .notes-don-fail {
    text-align: center;
    margin-bottom: 44px;
}

#body-section-1 .cards {
    display: flex;
    justify-content: space-between;
    /* padding-top: 69.5px; */
    text-align: center; 


}

#body-section-1 .card-info {
    padding: 69.5px 30px;
    /* width: 322px 300px; */
    

    
}

#body-section-1 .card-info h4{
    padding: 16px 0px;
    

} 

#body-section-1 .icon {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 0px 131px;
    
}
/* ------------------------------------------------ */

#body-section-2 {
    margin: 120px;
    display: flex;
    /* justify-content: space-between; */
}

#body-section-2 .text-part {
    margin: 101.5px 0px;
    margin-left: 60px;
}

#body-section-2 #the-sol {
    color: #30B868;
}

#body-section-2 #your-second-brain {
    font-size: 48;
    font-weight: 700;
    padding: 10px 0px;
    

}