* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

header {
    width: 1600px;
    height: 92px;
    padding-left: 120px;
    padding-right: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 139px;
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav ul {
    width: 365px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 34px 0px;
    list-style-type: none;
    
}

nav ul a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    curso
}

div {
    padding: 24px 0px;
}
div button {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* body{
    background-color: aqua;
} */